{% extends "Ejercicios/BaseEVisual.html" %}

	{% block tema %}
	    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
    {% endblock %}

	{% block subtema %}
		<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 1.1: Conceptos básicos</li>					
	{% endblock  %}	

					
          <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
    {% block preguntas %}
 <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
      <form id="form1" name="form1" method="post" action="/Evaluacion/E1/1/V/2/" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %}

          <div class="contenido">

          	{% if messages %}
          		<ul class="messages">
          			{% for message in messages %}
          			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          			{% endfor %}
          		</ul>
          	{% endif %}
          	
			<h3>Ejercicio 2.</h3>
      <h3>Lee el texto y selecciona la respuesta correcta.</h3>

			<div class="widget">
				 <fieldset>
   				<legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p> 1.- ¿Cuáles son las dos primeras fases que conducen a un diseño detallado escrito en forma de algoritmo?.</p>
          </div>

   				<!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
    			<label for="radio-1"><b>A)</b> Verificación y depuración</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-1">
    			
    			<label for="radio-2"><b>B)</b> Codificación y compilación</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-2">
    			
    			<label for="radio-3"><b>C)</b> Análisis y diseño</label>
    			<input type="radio" value="20" name="respuesta1" id="radio-3">
  				</fieldset>
			</div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.-Durante esta fase se implementa el algoritmo en un códifo escrito en un lenguaje de programación</p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   2 --------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> Codificación</label>
          <input type="radio" value="20" name="respuesta2" id="radio-4">

          <label for="radio-5"><b>B)</b> Compilación</label>
          <input type="radio" value="0" name="respuesta2" id="radio-5">

          <label for="radio-6"><b>C)</b> Verificación</label>
          <input type="radio" value="0" name="respuesta2" id="radio-6">

          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p> 3.-¿Cuál es la fase que traduce y ejecute el programa?</p>
          </div>

          <!-- RESPUESTAS DE LA PREGUNTA   3 --------------------------------------------------- -->
          <label for="radio-7"><b>A)</b> Diseño de algoritmo</label>
          <input type="radio" value="0" name="respuesta3" id="radio-7">
          
          <label for="radio-8"><b>B)</b> Compilación y ejecución</label>
          <input type="radio" value="20" name="respuesta3" id="radio-8">
         
          <label for="radio-9"><b>C)</b> Codificación</label>
          <input type="radio" value="0" name="respuesta3" id="radio-9">
          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.-¿Cuáles son las fases en la que el programador busca errores de las etapas anteriores y los elimina? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   4 --------------------------------------------------- -->
          <label for="radio-10"><b>A)</b> Compilación y ejecución</label>
          <input type="radio" value="0" name="respuesta4" id="radio-10">
         
          <label for="radio-11"><b>B)</b> Verificación y depuración</label>
          <input type="radio" value="20" name="respuesta4" id="radio-11">
          
          <label for="radio-12"><b>C)</b> Análisis del problema</label>
          <input type="radio" value="0" name="respuesta4" id="radio-12">
          </fieldset>
      </div>

            <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          <p>5.-¿Cuál es la última fase que se debe realizar en el programa? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   5 --------------------------------------------------- -->
          <label for="radio-13"><b>A)</b> Verificación</label>
          <input type="radio" value="0" name="respuesta5" id="radio-13">
          
          <label for="radio-14"><b>B)</b> Mantenimiento</label>
          <input type="radio" value="0" name="respuesta5" id="radio-14">
          
          <label for="radio-15"><b>C)</b> Documentación</label>
          <input type="radio" value="20" name="respuesta5" id="radio-15">

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
		</div>
  </form>
	{% endblock %}
	{% block sigienteEjercicioOVolver %}
	    <li class="page-item"><a class="page-link" href="/ejercicio/E1"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
			</ul>
		</nav>
		<div class="ejercicios-btn">
            <a href="/tema/1/1/1" class="btn btn-primary">Regresar al tema</a>
        </div>
	{% endblock %}
