{% extends "Ejercicios/BaseEVisual.html" %}

	{% block tema %}
	    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
    {% endblock %}

	{% block subtema %}
		<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 1.1: Conceptos básicos</li>					
	{% endblock  %}	

					
         
    {% block preguntas %}
 <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
      <form id="form1" name="form1" method="post" action="/evaluar/E1/1/V/1" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %} 

          <div class="contenido">

          	{% if messages %}
          		<ul class="messages">
          			{% for message in messages %}
          			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          			{% endfor %}
          		</ul>
          	{% endif %}
			
			<h3>Ejercicio 1.</h3>
      <h3>Lee el texto y selecciona la respuesta correcta.</h3>

			<div class="widget">
				 <fieldset>
   				<legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p> 1.- ¿Cuáles son los componentes principales de una computadora?</p>
          </div>

   				<!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
    			<label for="radio-1"><b>A)</b> Código y Programa</label>
    			<input type="radio" value="A" name="respuesta1" id="radio-1">
    			
    			<label for="radio-2"><b>B)</b> Hardware y Software</label>
    			<input type="radio" value="B" name="respuesta1" id="radio-2">
    			
    			<label for="radio-3"><b>C)</b> Pseudocodigo y Programa</label>
    			<input type="radio" value="C" name="respuesta1" id="radio-3">
  				</fieldset>
			</div>

      <div class="widget">
         <fieldset>
          <legend> 	  </legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.-¿Cuál es el conjunto de instrucciones de programa que controlan las operaciones de un sistema informático?</p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   2 --------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> Lenguaje</label>
          <input type="radio" value="A" name="respuesta2" id="radio-4">

          <label for="radio-5"><b>B)</b> Hardware</label>
          <input type="radio" value="B" name="respuesta2" id="radio-5">

          <label for="radio-6"><b>C)</b> Software</label>
          <input type="radio" value="C" name="respuesta2" id="radio-6">

          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend> 	</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p> 3.-¿Cuál es el equipo físico o los dispositivos asociados a una computadora?</p>
          </div>

          <!-- RESPUESTAS DE LA PREGUNTA   3 --------------------------------------------------- -->
          <label for="radio-7"><b>A)</b> Hardware</label>
          <input type="radio" value="A" name="respuesta3" id="radio-7">
          
          <label for="radio-8"><b>B)</b> Software</label>
          <input type="radio" value="B" name="respuesta3" id="radio-8">
         
          <label for="radio-9"><b>C)</b> PCU</label>
          <input type="radio" value="C" name="respuesta3" id="radio-9">
          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.-¿Cuál es el proceso de escritura o codificación de un programa? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   4 --------------------------------------------------- -->
          <label for="radio-10"><b>A)</b> Programación</label>
          <input type="radio" value="A" name="respuesta4" id="radio-10">
         
          <label for="radio-11"><b>B)</b> Lenguaje</label>
          <input type="radio" value="B" name="respuesta4" id="radio-11">
          
          <label for="radio-12"><b>C)</b> Código</label>
          <input type="radio" value="C" name="respuesta4" id="radio-12">
          </fieldset>
      </div>

            <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          <p>5.-¿Cuál es el método para resolver un problema mediante una serie de pasos precisos, definidos y finitos? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   5 --------------------------------------------------- -->
          <label for="radio-13"><b>A)</b> Diagrama de flujo</label>
          <input type="radio" value="A" name="respuesta5" id="radio-13">
          
          <label for="radio-14"><b>B)</b> Algoritmo</label>
          <input type="radio" value="B" name="respuesta5" id="radio-14">
          
          <label for="radio-15"><b>C)</b> Pseudocódigo</label>
          <input type="radio" value="C" name="respuesta5" id="radio-15">

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
		</div>
  </form>
	{% endblock %}
	{% block sigienteEjercicioOVolver %}
	    <li class="page-item"><a class="page-link" href="/ejercicio/E1"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
			</ul>
		</nav>
		<div class="ejercicios-btn">
            <a href="/tema/1/1/1" class="btn btn-primary">Regresar al tema</a>
        </div>
	{% endblock %}
