{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Tema</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'js/fecha.js' %}"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li {margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
  html>body #sortable li { height: 1.5em; line-height: 1.2em; }
  .ui-state-highlight {color: blue; height: 1.5em; line-height: 1.2em; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#sortable" ).sortable({
      placeholder: "ui-state-highlight"
    });
    $( "#sortable" ).disableSelection();
  } );
  </script>
</head>
<body>
  <br>
  <div class="container">
    <header>
      <nav class="navbar sticky-top navbar-expand-lg navbar-light tema-uno ">
        <a class="navbar-brand" href="#">
          <img src="media/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
        </a>
        <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/temario/">Temario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Progreso</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Examen final</a>
            </li>
          </ul>
        
        <div class="ml-auto p-2 bd-highlight">
          <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cerrar<i class="fas fa-door-open"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
                </div>  
              </li>
            </ul>
        </div>
          
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid j1">
        <div class="container">
          <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
          <p class="lead">--</p>
        </div>
      </div>
    </header>

    <section class="main container">
      <div class="row">
        <section class="posts col-md-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Tema 1</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tema 1.2: Representación de Algoritmos</li>
            </ol>
          </nav>
          
          <article class="post clearfix article">
            <p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
    1.- Ordena el Pseudocódigo que permita leer la edad y peso de una persona y posteriormente imprimirla.</p>
            <ul id="sortable">
  <li class="ui-state-default">•Leer Edad, Leer Peso.</li><br>
  <li class="ui-state-default">•Inicio</li><br>
  <li class="ui-state-default">•Visualizar "Tu peso es: ", peso, " y tu edad es: ", edad.</li><br>
  <li class="ui-state-default">•Variables edad, peso.</li><br>
  <li class="ui-state-default">•Fin.</li><br>
  <li class="ui-state-default">•Imprimir "Escribir los datos (Edad, Peso):"</li><br>
</ul>
 
 
          </article>   
                    
            <nav aria-label="Page">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="/ejercicio/E1"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
              </ul>
          </nav>     
          
        </section>

        <aside class="col-md-2 hidden-xs hidden-sm">
          <h4>Fuentes relacionadas</h4>
          <div class="list-group">
            <a href="http://combomix.net/wp-content/uploads/2017/03/Fundamentos-de-programaci%C3%B3n-4ta-Edici%C3%B3n-Luis-Joyanes-Aguilar-2.pdf" class="list-group-item active">Fuente 1</a>
            <a href="#" class="list-group-item">Fuente 2</a>
            <a href="#" class="list-group-item">Fuente 3</a>
            <a href="#" class="list-group-item">Fuente 4</a>
          </div>

          <h4>Calendario</h4>
          <div class="list-group-item" id="calendar">
            <p id="calendar-day"></p>
            <p id="calendar-date"></p>
            <p id="calendar-month-year"></p>
          </div>
        </aside>
      </div>
    </section>
  </div>
</body>
</html>