{% extends "Ejercicios/BaseEVisual.html" %}

	{% block tema %}
	    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
    {% endblock %}

	{% block subtema %}
    <li class="breadcrumb-item"><a href="#">Tema 1</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 1.3: Diseño de algoritmos.</li>		
	{% endblock  %}	

					
          <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
    {% block preguntas %}
 <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
      <form id="form1" name="form1" method="post" action="/Evaluacion/E1/3/V/1/" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %}

          <div class="contenido">

            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
			
      <h3> Ejercicio 1. </h3>
      <h3>Lee el texto y selecciona la respuesta correcta.</h3>

			<div class="widget">
				 <fieldset>
   				<legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p> 1.- ¿Qué proceso que convierte los resultados del análisis del problema en un diseño modular con refinamientos sucesivos que permitan una posterior traducción a un lenguaje? </p>
          </div>

   				<!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
    			<label for="radio-1"><b>A)</b> Diseño de algoritmo</label>
    			<input type="radio" value="16.67" name="respuesta1" id="radio-1">
    			
    			<label for="radio-2"><b>B)</b> Diagrama N-S</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-2">
    			
    			<label for="radio-3"><b>C)</b> Diseño descendente</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-3">
  				</fieldset>
			</div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.- ¿Cuáles son aquellos pasos sucesivos que indican las instrucciones a ejecutar por la máquina?</p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   2 --------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> Lenguaje de programación</label>
          <input type="radio" value="0" name="respuesta2" id="radio-4">

          <label for="radio-5"><b>B)</b> Pseudocodigo</label>
          <input type="radio" value="0" name="respuesta2" id="radio-5">

          <label for="radio-6"><b>C)</b> Algoritmo</label>
          <input type="radio" value="16.67" name="respuesta2" id="radio-6">

          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p> 3.- ¿Qué Es el metodo que consiste en dividir un problema complejo en otros más simples?</p>
          </div>

          <!-- RESPUESTAS DE LA PREGUNTA   3 --------------------------------------------------- -->
          <label for="radio-7"><b>A)</b> Subproblemas</label>
          <input type="radio" value="0" name="respuesta3" id="radio-7">
          
          <label for="radio-8"><b>B)</b> Divide y vencerás</label>
          <input type="radio" value="16.67" name="respuesta3" id="radio-8">
         
          <label for="radio-9"><b>C)</b> Codificación</label>
          <input type="radio" value="0" name="respuesta3" id="radio-9">
          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.- ¿Cómo se le llama al problema original que se descompone en subproblemas más simples y la división de estos subproblemas en otros más simples? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   4 --------------------------------------------------- -->
          <label for="radio-10"><b>A)</b> Diagrama de flujo</label>
          <input type="radio" value="0" name="respuesta4" id="radio-10">
         
          <label for="radio-11"><b>B)</b> Diseño de algoritmos</label>
          <input type="radio" value="0" name="respuesta4" id="radio-11">
          
          <label for="radio-12"><b>C)</b> Diseño descendente</label>
          <input type="radio" value="16.67" name="respuesta4" id="radio-12">
          </fieldset>
      </div>
            
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
          <p>5.- ¿Cuál es la instrucción que se caracteriza por iterar instrucciones en función de una condición que debe cumplirse en un momento dado? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   5 --------------------------------------------------- -->
          <label for="radio-13"><b>A)</b> While</label>
          <input type="radio" value="0" name="respuesta5" id="radio-13">
         
          <label for="radio-14"><b>B)</b> For</label>
          <input type="radio" value="16.67" name="respuesta5" id="radio-14">
          
          <label for="radio-15"><b>C)</b> If-else</label>
          <input type="radio" value="0" name="respuesta5" id="radio-15">
          </fieldset>
      </div>

            <!-- PREGUNTA   6 ------------------------------------------------------------------- -->
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          <p>6.- ¿Cuál es el tipo de estructura que se utiliza para ejecutar selectivamente secciones de código de acuerdo con una condición definida?</p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   6 --------------------------------------------------- -->
          <label for="radio-16"><b>A)</b> If-else</label>
          <input type="radio" value="16.67" name="respuesta6" id="radio-16">
          
          <label for="radio-17"><b>B)</b> While</label>
          <input type="radio" value="0" name="respuesta6" id="radio-17">
          
          <label for="radio-18"><b>C)</b> For</label>
          <input type="radio" value="0" name="respuesta6" id="radio-18">

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
		</div>
  </form>
  <script src="../static/js/E-V-1.js" type="text/javascript">

</script>
	{% endblock %}
	{% block sigienteEjercicioOVolver %}
	    <li class="page-item"><a class="page-link" href="/ejercicio/E1"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
			</ul>
		</nav>
		<div class="ejercicios-btn">
            <a href="/tema/1/3/2" class="btn btn-primary">Regresar al tema</a>
        </div>
	{% endblock %}

			