{% extends "Ejercicios/BaseEVisual.html" %}

	{% block tema %}
	    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
    {% endblock %}

	{% block subtema %}
		<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 1.4: Diseño de funciones.</li>										
	{% endblock  %}	

	{% block preguntas %}

    <!-- FORMULARIO DE PREGUNTAS  ------------------------------------------------------------------- -->
      <form id="form1" name="form1" method="post" action="/Evaluacion/E1/4/V/1/" class="formulario" onsubmit="alert('Tu puntuación es: '+{{resultado}})">{% csrf_token %}

          <div class="contenido">

            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            
			<h3> Ejercicio 1. </h3>
      <h3>Lee el texto y selecciona la respuesta correcta.</h3>

			<div class="widget">
				 <fieldset>
   				<legend>Selecciona la respuesta</legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   1------------------------------------------------------------------- -->
          <p> 1.- ¿Qué parte del código independiente del programa principal realiza una determinada tarea y proporciona unos resultados? </p>
          </div>

   				<!-- RESPUESTAS DE LA PREGUNTA   1 --------------------------------------------------- -->
    			<label for="radio-1"><b>A)</b> Variable</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-1">
    			
    			<label for="radio-2"><b>B)</b> Método</label>
    			<input type="radio" value="0" name="respuesta1" id="radio-2">
    			
    			<label for="radio-3"><b>C)</b> Función</label>
    			<input type="radio" value="16.67" name="respuesta1" id="radio-3">
  				</fieldset>
			</div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   2 ------------------------------------------------------------------- -->
           <p>2.- ¿Cuáles son los conjuntos de funciones compiladas que se guardan bajo un determinado nombre de listas para ser utilizadas por cualquier usuario?</p>
          </div>
          
          <!-- RESPUESTAS DE LA PREGUNTA   2 --------------------------------------------------- -->
          <label for="radio-4"><b>A)</b> Librerías</label>
          <input type="radio" value="16.67" name="respuesta2" id="radio-4">

          <label for="radio-5"><b>B)</b> Funciones</label>
          <input type="radio" value="0" name="respuesta2" id="radio-5">

          <label for="radio-6"><b>C)</b> Métodos</label>
          <input type="radio" value="0" name="respuesta2" id="radio-6">

          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   3 ------------------------------------------------------------------- -->
          <p> 3.- ¿Cómo se llama a lo que incluye su nombre en una expresión o sentencia del programa principal  o de otra función y va seguido de una lista de argumentos separados por comas y encerrados entre paréntesis?</p>
          </div>

          <!-- RESPUESTAS DE LA PREGUNTA   3 --------------------------------------------------- -->
          <label for="radio-7"><b>A)</b> Llamada al método</label>
          <input type="radio" value="0" name="respuesta3" id="radio-7">
          
          <label for="radio-8"><b>B)</b> Llamada a una función</label>
          <input type="radio" value="16.67" name="respuesta3" id="radio-8">
         
          <label for="radio-9"><b>C)</b> Variable</label>
          <input type="radio" value="0" name="respuesta3" id="radio-9">
          </fieldset>
      </div>

      <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   4 ------------------------------------------------------------------- -->
          <p>4.- ¿Cómo se le llama a los argumentos incluidos en la llamada a una función? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   4 --------------------------------------------------- -->
          <label for="radio-10"><b>A)</b> Método</label>
          <input type="radio" value="0" name="respuesta4" id="radio-10">
         
          <label for="radio-11"><b>B)</b> Llamada a una función</label>
          <input type="radio" value="0" name="respuesta4" id="radio-11">
          
          <label for="radio-12"><b>C)</b> Parámetros actuales</label>
          <input type="radio" value="16.67" name="respuesta4" id="radio-12">
          </fieldset>
      </div>
            
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
            <!-- PREGUNTA   5 ------------------------------------------------------------------- -->
          <p>5.- ¿Cuál es el que se hace mediante la palabra reservada, la declaracion de una funcion? </p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   5 --------------------------------------------------- -->
          <label for="radio-13"><b>A)</b> Function</label>
          <input type="radio" value="16.67" name="respuesta5" id="radio-13">
         
          <label for="radio-14"><b>B)</b> Printf</label>
          <input type="radio" value="0" name="respuesta5" id="radio-14">
          
          <label for="radio-15"><b>C)</b> Scanf</label>
          <input type="radio" value="0" name="respuesta5" id="radio-15">
          </fieldset>
      </div>

            <!-- PREGUNTA   6 ------------------------------------------------------------------- -->
            <div class="widget">
         <fieldset>
          <legend></legend>
          <div class="audioejemplo">
          <p>6.- ¿A que se le denomina las operaciones que se requieren en los programas y exigen en numerosas ocasiones un numero determinado de operaciones especiales?</p>
          </div>
          <!-- RESPUESTAS DE LA PREGUNTA   6 --------------------------------------------------- -->
          <label for="radio-16"><b>A)</b> Operaciones aritméticas</label>
          <input type="radio" value="0" name="respuesta6" id="radio-16">
          
          <label for="radio-17"><b>B)</b> Funciones propias</label>
          <input type="radio" value="0" name="respuesta6" id="radio-17">
          
          <label for="radio-18"><b>C)</b> Funciones internas</label>
          <input type="radio" value="16.67" name="respuesta6" id="radio-18">

          <!-- BOTON DE EVALUACION ------------------------------------------------------ -->
            <legend> ... </legend>
            <input type="submit" value="Calificar">

          </fieldset>
      </div>
		</div>
  </form>
  <script src="../static/js/E-V-1.js" type="text/javascript">

</script>
	{% endblock %}
	{% block sigienteEjercicioOVolver %}
	    <li class="page-item"><a class="page-link" href="/ejercicio/E1"><i class="fa fa-arrow-right" aria-hidden="true"></i> Siguiente Ejercicio</a></li>
			</ul>
		</nav>
		<div class="ejercicios-btn">
            <a href="/tema/1/4/2" class="btn btn-primary">Regresar al tema</a>
        </div>
	{% endblock %}
