{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
	
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
  </script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 3. Control de flujo.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 3</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 3.3: Estructuras iterativas: repetir mientras, hasta, desde.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						<h2 class="post-title" align="center">
							<a href="#">EJEMPLOS</a>

						</h2>
						<h3 >Presiona la pregunta para visualizar la respuesta</h3>
						<div id="accordion">
						
						<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
		1.- Leer por teclado un número que represente una cantidad de números que a su vez se leerán también por teclado. </p>
			<div>
    <p>
    	Calcular la suma de todos esos números.
    	<table>
    	<tr>
    		<td>
    	<ul>
    		<li> <b> algoritmo </b> suma_numeros </li><br>
    		<li><b>var</b></li><br>
    		<li><b> entero: </b>N, TOTAL</li><br>
    		<li><b> real: </b>numero, SUMA </li><br>
    		<li><b> inicio </b></li><br>
    		<li><b> leer</b>(N)</li><br>
    		<li> {leer numero total N}</li><br>
    		<li> TOTAL ← N </li><br>
    	</ul>
    </td>

    <td>
    	<ul>
    		<li> SUMA ← 0</li><br>
    		<li> <b> mientras </b> TOTAL > 0 <b> hacer </b> </li><br>
    		<li><b>leer</b> (numero)</li><br>
    		<li>SUMA ← SUMA + numero</li><br>
    		<li>TOTAL ← TOTAL - 1</li><br>
    		<li><b> fin_mientras </b></li><br>
    		<li><b> escribir</b>('La suma de los', N, 'números es', SUMA)</li><br>
    		<li><b>fin</b></li><br>
    	</ul>
    </td>
    </tr>
    </table>

    </p>
</div>
						<p  class="post-contenido text-justify " style="color: #020ace; font-size: 150%" >
							 2.- Obtener un algoritmo que lea un número (por ejemplo, 198) y obtenga el número inverso (por ejemplo, 891).
						</p>
						<div>
						
						<p class="post-contenido text-left">
							<table>
								<tr>
									<td>
							<ul>
    							<li> <b> algoritmo </b> invertirnumero </li><br>
    							<li><b>var</b></li><br>
    							<li><b> entero: </b>num, digitoSig</li><br>
    							<li><b> inicio </b></li><br>
    							<li> num ← 198</li><br>
    							<li><b>escribir</b> ('Número: ← ', num)</li><br>
    						</ul>
    					</td>
    					<td>
    						<ul>
    							<li><b>escribir</b> ('Número en orden inverso: ')</li><br>
    							<li><b>hacer</b></li><br>
    							<li> digitoSig = num <b>MOD</b> 10</li><br>
    							<li><b>escribir</b>(digitoSig)</li><br>
    							<li> num = num <b>DIV</b> 10</li><br>
    							<li><b>mientras</b> num > 0</li><br>
    							<li><b>fin</b></li>
    						</ul>
    					</td>
    					</tr>
    					</table>
						</p>				
					</div>
				</div>
					</article>
					
                    <div class="ejercicios-btn">
						<a href="/tema/3/3/2" class="btn btn-primary">Regresar</a>
					</div>
					
					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>