{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-uno ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j1">
			  <div class="container">
			    <h1 class="display-4">Tema 3. Control de flujo. </h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 3</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 3.1: Estructuras secuenciales.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						<a href="#" class="thumb pull-left">
							<img src="" alt="">
						</a>
						<h2 class="post-title">
							<a href="#">Funciones y procedimientos. </a>
						</h2>
						
				
						<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
							1.- Calcular el área de un círculo utilizando procedimientos.

						</p><br>
		                <p style="text-align: center;">
						 	<img src="{% static 'media/EJ5-1-2.png' %}" width="600" height="500" class="d-inline-block align-top" alt=""><br>
						</p>
				
						<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
							2.-El siguiente problema sobre una votación se muestra la solución utilizando procedimientos.</p><br>
		                <p style="text-align: center;">
						 	<img src="{% static 'media/EJ5-1-3.png' %}" width="600" height="500" class="d-inline-block align-top" alt=""><br>
						</p>

						<p  class="post-contenido text-justify" style="color: #020ace; font-size: 150%" >
							3. El siguiente programa calcula el cubo de los números del 1 al 5 utilizando una función definida por el usuario.</p><br>
		                <p style="text-align: center;">
						 	<img src="{% static 'media/funcioncubo.png' %}" width="600" height="500" class="d-inline-block align-top" alt=""><br>
						</p>

					</article>

					<nav aria-label="Page">
						<ul class="pagination justify-content-center">
						    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
						    <li class="page-item"><a class="page-link" href="/ejercicio/EJ5/1/V/2">1</a></li>
						    <li class="page-item active"><a class="page-link" href="/ejercicio/EJ5/1/V/3">2</a></li>
						    <li class="page-item"><a class="page-link" href="/ejercicio/EJ5/1/V/3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
						</ul>
					</nav>

					<div class="ejercicios-btn">
						<a href="{% url 'r_temas' tema=5 subtema=1 pagina=3 %}" class="btn btn-primary">Regresar al tema</a>
					</div>
					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>