{% extends "Temas/BaseTemas.html"%}
    
	{% block subtema %}
	    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
    {% endblock %}

	{% block temaSubtema %}
		<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 1.1: Conceptos básicos</li>
    {% endblock %}
    
	{% block contenido %}
	<h2 class="post-title">
		<a href="#">Programación: </a>
		</h2>
		<p class="post-contenido text-justify">
		Los dos componentes principales de una computadora son: hardware y software. Hardware es el equipo físico o los dispositivos asociados con una computadora. Sin embargo, para ser útil una computadora necesita además del equipo físico, un conjunto de instrucciones dadas.<br><br>
		El software de una computadora es un conjunto de instrucciones de programa detalladas que controlan y coordinan los componentes hardware de una computadora y controlan las operaciones de un sistema informático. <br><br>

		Las operaciones que debe realizar el hardware son especificadas por una lista de instrucciones, llamadas programas, o software. Un programa de software es un conjunto de sentencias o instrucciones a la computadora. El proceso de escritura o codificación de un programa se denomina programación y las personas que se especializan en esta actividad se denominan programadores.<br><br>

		El proceso de resolución de un problema con una computadora conduce a la escritura de un programa y a su ejecución en la misma. Aunque el proceso de diseñar programas es, esencialmente, un proceso creativo, se puede considerar una serie de fases o pasos comunes, que generalmente deben seguir todos los programadores.

		</p>
    {% endblock %}

	{% block video %}
		<iframe width="560" height="315" src="https://www.youtube.com/embed/-j4s2nphpV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	{% endblock %}
	
	{% block paginacion %}
		<li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
		<li class="page-item active"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="/tema/1/1/2">2</a></li>
		<li class="page-item"><a class="page-link" href="/tema/1/1/3">3</a></li>
		<li class="page-item"><a class="page-link" href="/tema/1/1/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                            
	{% endblock %}