{% extends "Temas/BaseTemas.html"%}
    
	{% block subtema %}
	    <h1 class="display-4">Tema 1. Diseño algorítmico</h1>
    {% endblock %}

	{% block temaSubtema %}
		<li class="breadcrumb-item"><a href="#">Tema 1</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tema 1.4: Diseño de funciones.</li>
    {% endblock %}
    
	{% block contenido %}
		<h2 class="post-title">
			<a href="#">Funciones: </a>
		</h2>
		<p class="post-contenido text-justify">
		Se considera que una función es una parte de código capaz de realizar una tarea y/o de transformar valores para obtener otro valor. <br>Una función se define por:<br>
•	El nombre. Este no debe ser ambigüo; según el lenguaje, el nombre debe ser único con respecto a las variables globales y a otras funciones. <br>
•	El tipo de valor que la función regresa.<br>
•	El número fi jo (o variable) de parámetros y la lista ordenada de tipo aceptable por los parámetros.<br>
•	El código. Este es único para cada función.<br>
Cercanas a la noción de función (o idénticas por el lenguaje C), se encuentran las nociones de procedimiento, rutina o subrutina, las cuales significan una parte del programa encargada de realizar una tarea sin regresar expresamente un valor. Los valores calculados o transformados por el código se regresan en la lista de los parámetros. <br><br>

La llamada de la función se hace especificando: <br>
•	El nombre de la función. <br>
•	La lista de los parámetros reales, los cuales pueden ser expresiones que se evalúan o variables.

		</p>
    {% endblock %}

	{% block video %}
		<iframe width="560" height="315" src="https://www.youtube.com/embed/lnKhMXx_4hk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	{% endblock %}
	
	{% block paginacion %}
		<li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
		<li class="page-item active"><a class="page-link" href="/tema/1/4/1">1</a></li>
		<li class="page-item"><a class="page-link" href="/tema/1/4/2">2</a></li>
		<li class="page-item"><a class="page-link" href="/tema/1/4/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                            
	{% endblock %}



			<!--
				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="http://combomix.net/wp-content/uploads/2017/03/Fundamentos-de-programaci%C3%B3n-4ta-Edici%C3%B3n-Luis-Joyanes-Aguilar-2.pdf" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>
					-->