{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item ">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
			    <p class="lead"> </p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.1: Conceptos Básicos</li>
						</ol>
					</nav>
					
					<article class="post clearfix">



						<p class="post-contenido text-justify">
						<b>Fases de compilación.</b> <br>
						
						El proceso de ejecución de un programa escrito en un lenguaje de programación y
						mediante un compilador suele tener los siguientes pasos:
						<br>1. Escritura del programa fuente con un editor (programa que permite a una
						computadora actuar de modo similar a una máquina de escribir electrónica) y
						guardarlo en un dispositivo de almacenamiento (por ejemplo, un disco).
						<br>2. Introducir el programa fuente en memoria.
						<br>3. Compilar el programa con el compilador seleccionado.
						<br>4. Verificar y corregir errores de compilación (listado de errores).
						<br>5. Obtención del programa objeto.
						<br>6. El enlazador (linker) obtiene el programa ejecutable.
						<br>7. Se ejecuta el programa y, si no existen errores, se tendrá la salida del programa
						</p>

						<p class="post-contenido text-justify">
						<img src="{% static 'media/tn2.1.4.jpg' %}" class="d-inline-block align-top" alt=""><br>
						En la década de los cuarenta cuando nacían las primeras computadoras digitales
						el lenguaje que se utilizaba para programar era el lenguaje máquina que traducía
						directamente el código máquina (código binario) comprensible para las
						computadoras. Las instrucciones en lenguaje máquina dependían de cada
						computadora y debido a la dificultad de su escritura, los investigadores de la
						época simplificaron el proceso de programación desarrollando sistemas de
						notación en los cuales las instrucciones se representaban en formatos nemónicos
						(nemotécnicos) en vez de en formatos numéricos que eran más difíciles de
						recordar.
						</p>
						

					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/1/3"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/3">3</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/1/4">4</a></li>
							    <li class="page-item disabled"><a class="page-link" href="/tema/2/1/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>

					<div class="ejercicios-btn">
						<a href="/ejercicio/E2/1/V/1" class="btn btn-primary">Ejercicios</a>
					</div>

					<div class="siguiente-btn">
						<a href="/tema/2/2/1" class="btn btn-primary">Siguiente tema</a>
					</div>
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>