{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item ">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
			    <p class="lead"> </p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.1: Conceptos Básicos</li>
						</ol>
					</nav>
					
					<article class="post clearfix">


						<p class="post-contenido text-justify">
						Para que un procesador realice un proceso se le debe suministrar en primer lugar un algoritmo adecuado. El procesador debe ser capaz de interpretar el algoritmo, lo que significa:
						<br>• comprender las instrucciones de cada paso,
						<br>• realizar las operaciones correspondientes.
						</p>

						<p class="post-contenido text-justify">
						programador. Un programa se escribe en un lenguaje de programación y
						las operaciones que conducen a expresar un algoritmo en forma de programa se
						llaman programación. Así pues, los lenguajes utilizados para escribir programas
						de computadoras son los lenguajes de programación y programadores son los
						escritores y diseñadores de programas. El proceso de traducir un algoritmo en
						pseudocódigo a un lenguaje de programación se denomina codificación, y el
						algoritmo escrito en un lenguaje de programación se denomina código fuente. En
						la realidad la computadora no entiende directamente los lenguajes de
						programación, sino que se requiere un programa que traduzca el código fuente a
						otro lenguaje que sí entiende la máquina directamente, pero muy complejo para
						las personas; este lenguaje se conoce como lenguaje máquina y el código
						correspondiente código máquina. <br>

						<img src="{% static 'media/tn2.1.jpg' %}" class="d-inline-block align-top" alt="">
						</p>

						<p class="post-contenido text-justify">
						Hoy en día, la mayoría de los programadores emplean lenguajes de programación como C++, C, C#, Java, Visual Basic, XML, HTML, Perl, PHP, JavaScript...,
						Estos lenguajes se denominan lenguajes de
						alto nivel y permiten a los profesionales resolver problemas convirtiendo sus
						algoritmos en programas escritos en alguno de estos lenguajes de programación.
						Los lenguajes de programación se utilizan para escribir programas. Los programas
						de las computadoras modernas constan de secuencias de instrucciones que se
						codifican como secuencias de dígitos numéricos que podrán entender dichas
						computadoras. El sistema de codificación se conoce como lenguaje máquina que
						es el lenguaje nativo de una computadora.

						</p>
						

					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/1/1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/1">1</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/1/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/4">4</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/1/3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>

				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>