{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item ">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.2: Características del lenguaje de programación.</li>
						</ol>
					</nav>
					
					<article class="post clearfix">
					<p class="post-contenido text-justify">
							Un programa de computadora es un conjunto de instrucciones que producirán la ejecución de una determinada tarea. En esencia, un programa es un medio para conseguir un fin. El fin será probablemente definido como la información necesaria para solucionar un problema. <br>
							El proceso de programación es, por consiguiente, un proceso de solución de problemas y el desarrollo de un programa requiere las siguientes fases:

							<br><b>1.	definición y análisis del problema.</b><br>
                            Se refiere a la etapa del proceso en la que el programador toma conocimiento del problema antes de proceder a desarrollar una solución. Es un proceso de “introducción”, de naturaleza cognoscitiva y muy difícil de describir.
							<br><b>2.	diseño de algoritmos:</b>
							<ul>
								<li>formulación del algoritmo</li>
								<li>diagrama de flujo</li>
								<li>diagrama N-S</li>
								<li>pseudocódigo</li>
							</ul>
							
							<br><b>3.	codificación del programa.</b><br>
							Es la construcción de la solución, desarrollada en forma de un programa real (o código)
							<br><b>4.	depuración y verificación del programa.</b><br>
							Se refiere a la revisión y corrección del programa sea en de Ambiente de Desarrollo o Prueba. Es inevitable realizar pruebas mientras va construyendo las componentes de la aplicación.
							<br><b>5.	documentación.</b><br>
							La documentación interna de un programa son los comentarios que el programador puede escribir en el código fuente de un programa y que el compilador no tendrá en cuenta, ya que, no son instrucciones. Los comentarios de un programa son explicaciones o aclaraciones que ayudarán al programador en un futuro, cuando quiera revisar o modificar el código fuente de dicho programa, y todavía serán de más ayuda si la modificación la tiene que realizar un programador distinto al que escribió el código fuente en un primer momento.
							<br><b>6.	mantenimiento.</b><br>
							Se refiere a las modificaciones y  que deben hacerse a los defectos del diseño y evolución del mismo, lo cual puede incluir el desarrollo de funciones adicionales para reunir nuevas necesidades del negocio. <br>
							
							<img src="{% static 'media/tn2.2.jpg' %}" class="center-block" alt=""><br>

					</p>
					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/2/1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/2/1">1</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/2/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/2/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/2/3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>