{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación. </h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.4: Elementos del lenguaje: tipos de datos, literales, constantes, variables, identificadores, parámetros, operadores y salida de datos. </li>
						</ol>
					</nav>
					
					<article class="post clearfix">
					<p class="post-contenido text-justify">
						<b>Datos lógicos (booleanos)</b>
						El tipo lógico —también denominado booleano— es aquel dato que sólo puede tomar uno de dos va lores: cierto o verdadero (true) y falso (false).<br>
						<b>Datos tipo carácter y tipo cadena</b><br>
						El tipo carácter es el conjunto finito y ordenado de caracteres que la computadora reconoce. Un dato tipo carácter contiene un solo carácter. Los caracteres que reconocen las diferentes computadoras no son estándar; sin embargo, la mayoría reconoce los siguientes caracteres alfabéticos y numéricos:
						<li>caracteres alfabéticos (A, B, C, ..., Z) (a, b, c, ..., z)</li>
						<li>caracteres numéricos (1, 2, ..., 9, 0)</li>
						<li>caracteres especiales (+, -, *, /, ^, ., ;, <, >, $, ...)</li><br>
						Una cadena (string) de caracteres es una sucesión de caracteres que se encuentran delimitados por una comilla (apóstrofo) o dobles comillas, según el tipo de lenguaje de programación.
						<li>'Hola Mortimer'</li>
						<li>'12 de octubre de 1492'</li>
						<li>'Sr. McKoy</li>
				    </p>
					<p class="post-contenido text-justify">
					<b>CONSTANTES Y VARIABLES</b><br>
					Los programas de computadora contienen ciertos valores que no deben cambiar durante la ejecución del programa tales valores se llaman constantes. <br>
					Sólo existen dos constantes lógicas o boolean: verdadero falso. <br>
					La mayoría de los lenguajes de programación permiten diferentes tipos de constantes: enteras, rea les, caracteres y boolean o lógicas, y representan datos de esos tipos. <br>
					Una variable es un objeto o tipo de datos cuyo valor puede cambiar durante el desarrollo del algoritmo o ejecución del programa. Dependiendo del lenguaje, hay diferentes tipos de variables, tales como enteras, reales, carácter, lógicas y de cadena. <br>

					Una variable se identifica por los siguientes atributos: nombre que lo asigna y tipo que describe el uso de la variable. <br> 
					Los nombres de las variables, a veces conocidos como identificadores, suelen constar de varios caracteres alfanuméricos, de los cuales el primero normalmente es una letra. <br>

					Los nombres de las variables elegidas para el algoritmo o el programa deben ser significativos y tener relación con el objeto que representan, como pueden ser los casos siguientes:<br>
					<li>NOMBRE para representar nombres de personas</li>
					<li>PRECIOS para representar los precios de diferentes artículos</li>
					<li>NOTAS para representar las notas de una clase</li>
						</p>
					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/4/1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/4/1">1</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/4/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/4/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/4/4">4</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/4/3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>