{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.5: Traducción de un programa: compilación, enlace, ejecución y errores.</li>
						</ol>
					</nav>
					
					<article class="post clearfix">
					<P class="post-contenido text-justify"><b>Compilación del programa.</b><br>
						Una vez que el programador acaba de escribir el programa en su terminal y lo almacena en un archivo debe traducirlo a código ejecutable por la maquina. Este proceso se llama en su conjunto compilación del código fuente en C. <br>
					
						#include < stdio.h > <br>

						Hace que se inserte el fichero stdio.h en el lugar donde aparece esa línea. Como el lector puede ver si examina el fichero stdio.h, lo que hay en el son declaraciones de prototipos de funciones y de tipos de datos, perfectamente validos en C. <br>
						
						El compilador se encarga de la etapa de preproceso, justo antes de iniciar la compilación. Por lo tanto, esta etapa pasa normalmente desapercibida, aunque puede indicársele al compilador que solo efectué el preproceso, para ver cómo queda el programa después de èl. La forma de solicitárselo depende de cada compilador en concreto. Una vez finalizado el pre-proceso, nuestro programa que da listo para que pueda comenzarse su traducción a código ejecutable.</p>
					
					</P>

					<p class="post-contenido text-justify"><b>Enlace.</b><br>
						La siguiente etapa de compilación es el enlace con las funciones presentes en las librerías de funciones. Si nuestro programa utiliza solo funciones ANSI, no suele ser necesario indicarle al compilador en que librerías están esas funciones. Sin embargo, hay excepciones. Por ejemplo si utilizamos funciones matemáticas de la librería estándar en nuestro programa (es decir en el programa aparece #include < math.h >, opción –lm. Sin embargo, si utilizamos funciones definidas en una librería propia o bien en una librería no estándar, debemos indicárselo al compilador mediante algún parámetro.</p>
					<p>Las etapas por las que debe pasar un programa escrito en un lenguaje de programación, hasta poder ser ejecutable son: 
						<li class="post-contenido text-justify">Programa fuente: Programa escrito en un lenguaje de alto nivel (texto ordinario que contiene las sentencias del programa en un lenguaje de programación). Necesita ser traducido a código máquina para poder ser ejecutado.</li>
						<li class="post-contenido text-justify">Compilador: Programa encargado de traducir los programas fuentes escritos en un lenguaje de alto nivel a lenguaje máquina y de comprobar que las llamadas a las funciones de librería se realizan correctamente.</li>
						<li class="post-contenido text-justify">Programa (o código) objeto: Es el programa fuente traducido (por el compilador) a código máquina. Aún no es directamente ejecutable.</li>
						<li class="post-contenido text-justify">Programa Ejecutable: Traducción completa a código máquina, realizada por el enlazador, del programa fuente y que ya es directamente ejecutable.</li>
						<li class="post-contenido text-justify">Montador o enlazador (Linker): Es el programa encargado de insertar al programa objeto el código máquina de las funciones de las librerías (archivos de biblioteca) usadas en el programa y realizar el proceso de montaje, que producirá un programa ejecutable .exe.  Las librerías son una colección de código (funciones) ya programado y traducido a código máquina, listo para utilizar en un programa y que facilita la labor del programador.</li>
					</p>

					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/5/2"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/2">2</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/5/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/4">4</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>

				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>