{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-dos">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j2">
			  <div class="container">
			    <h1 class="display-4">Tema 2. Introducción a la programación.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 2</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 2.5: Traducción de un programa: compilación, enlace, ejecución y errores.</li>
						</ol>
					</nav>
					
					<article class="post clearfix">
					<p class="post-contenido text-justify"><b>Ejecución</b><br>Un programa de ejecución es un objeto que realiza una determinada acción cuando se abre.</p>
					<p class="post-contenido text-justify">Puede encontrar programas de ejecución en los paneles, en la barra de menús de un panel y en el escritorio. Un programa de ejecución se representa mediante un icono en todas estas ubicaciones. Puede utilizar un programa de ejecución para realizar cualquiera de las siguientes acciones: <ul>
						<li>Iniciar una aplicación.</li>
						<li>Ejecutar un comando.</li>
						<li>Abrir una carpeta.</li>
						<li class="post-contenido text-justify">Abrir un explorador web en una página específica de Internet.</li>
						<li class="post-contenido text-justify">Abrir URI (identificadores uniformes de recursos) especiales. Oracle Solaris Desktop proporciona URI especiales que permiten acceder a funciones particulares en el gestor de archivos. </li>
					</ul></p>

					<p class="post-contenido text-justify">Es posible modificar las propiedades de un programa de ejecución. Por ejemplo, las propiedades de un programa de ejecución incluyen el nombre del programa, el icono que lo representa y cómo se ejecuta. Para obtener más información sobre cómo modificar un programa de ejecución, consulte Modificación de un programa de ejecución.</p>
					<p class="post-contenido text-justify"><b>Errores en tiempo de compilación</b></p>
					<p class="post-contenido text-justify">Si el programa fuente es sintácticamente correcto, el compilador generará el código objeto, en caso contrario mostrará una lista con los errores encontrados, no generándose ningún programa objeto, para que procedamos a su depuración.</p>
					<p class="post-contenido text-justify">Los compiladores emiten mensajes de error o de advertencia durante las fases de compilación, de enlace o de ejecución de un programa: <ul>
						<li class="post-contenido text-justify">Los errores en tiempo de compilación son los que se producen antes de la ejecución del programa, durante el proceso de compilación del programa.</li>
					</ul></p>

					<p class="post-contenido text-justify"> Los errores que se pueden producir en la fase de compilación son: <ul>
						<li class="post-contenido text-justify">Errores fatales: Son raros. Indican errores internos del compilador. Cuando ocurre la compilación se detiene inmediatamente.</li>
						<li class="post-contenido text-justify">Errores de sintaxis: Son los errores típicos de sintaxis. No detienen la compilación, sino que al finalizar ésta se mostrará la lista con todos los errores encontrados. Algunos errores suelen ser consecuencia de otros cometidos con anterioridad. Con este tipo de errores no se puede obtener un programa objeto y por lo tanto tampoco el ejecutable.</li>
						<li class="post-contenido text-justify">Advertencias o avisos (warnings): Indican que hay líneas de código sospechosas que, a pesar de no infringir ninguna regla sintáctica, el compilador las encuentra susceptibles de provocar un error. Cuando se detecta un warning la compilación no se detiene. Si en un programa fuente sólo se detectan warnings, se podrá obtener un programa objeto, que tras el linkado dará lugar a un programa ejecutable. as advertencias no indican errores, sino que llaman la atención al programador sobre los posibles usos incorrectos del lenguaje. Las advertencias, a diferencia de los errores no detienen el proceso de compilación, pero casi siempre señalan un error oculto.</li>
					</ul></p>

					</article>

					<div class="siguiente-btn">
					<a href="/ejercicio/EJ2/5/K/1" class="btn btn-primary">Ejemplo</a>
					</div>
					
					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/2/5/3"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/2/5/3">3</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/2/5/4">4</a></li>
							    <li class="page-item disabled"><a class="page-link" href="/tema/2/5/4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					<div class="ejercicios-btn">
						<a href="/ejercicio/E2/5/V/1" class="btn btn-primary">Ejercicios</a>
					</div>
					
					<div class="siguiente-btn">
						<a href='/../' class="btn btn-primary">Finalizar</a>
					</div>
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>