{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-tres ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j3">
			  <div class="container">
			    <h1 class="display-4">Tema 3. Control de flujo. </h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 3</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 3.1: Estructuras secuenciales. </li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						
						<p class="post-contenido text-justify">
							
						Una estructura secuencial es aquella en la que una acción (instrucción) sigue a otra en secuencia. Las tareas se suceden de tal modo que la salida de una es la entrada de la siguiente y así sucesivamente hasta el final del proceso. La estructura secuencial tiene una entrada y una salida. Su representación gráfica se muestra en las Figuras 4.1, 4.2. <br>

				   <img src="{% static 'media/3-1-1.png' %}" align="justify-content-center" class="d-inline-block align-top" alt=""><br>

						El flujo normal de control de todos los programas es el secuencial. Este término significa que las sentencias se ejecutan en secuencia, una después de otra, en el orden en que se sitúan dentro del programa. <br>

						Un algoritmo con estructura secuencial utiliza solo las operaciones básicas: asignación, escritura y lectura.<br><br>

						
						<h4 class="post-title">
							<a href="#">Asignación </a>
						</h4>
						La asignación consiste, en el paso de valores o resultados a una zona de la memoria. Dicha zona será reconocida con el nombre de la variable que recibe el valor. La asignación se puede clasificar de la siguiente forma: <br>

						<ul>
							<li>Simples: Consiste en pasar un valor constante a una variable (a = 15).</li>
							<li>Contador: Consiste en usarla como un verificador del numero de veces que se realiza un proceso (a = a + 1).</li>
							<li>Acumulador: Consiste en usarla como un sumador en un proceso (a = a + b).</li>
							<li>De trabajo: Donde puede recibir el resultado de una operación matemática que involucre muchas variables (a = c + b*2/4).</li>
						</ul> <br>

						<h4 class="post-title">
							<a href="#">Escritura o salida de datos </a>
						</h4>
						Consiste en mandar por un dispositivo de salida (p.ej. monitor o impresora) un resultado o mensaje. Esta instrucción presenta en pantalla el mensaje escrito entre comillas o el contenido de la variable. Este proceso se representa así como sigue: <br>

					<img src="{% static 'media/3.1-1.jpg' %}" align="justify-content-center" class="d-inline-block align-top" alt=""><br><br>

						Las estructuras secuenciales cuentan con unas series de características:<br>

						<ul>
							<li>Es importante que los pasos lleven numeración.</li>
							<li>Siempre debe se debe señalar el comienzo del algoritmo con la palabra INICIO.</li>
							<li>Cuando se termine el algoritmo se debe indicar con la palabra FIN.</li>
							<li>Cada paso debe especificar el proceso a realizar.</li>
							<li>Todos los pasos deben llevar una secuencia.</li>
						</ul>

						</p>

						<div class="ejercicio-btn">
							<a href="/ejercicio/EJ3/1/V/1" class="btn btn-primary">Ejemplo</a>
						</div>

					</article>
					<div class="video">
						<video src="{% static 'media/Tema 1.3 Diseño de algoritmos.mp4' %}" controls width="550" height="360"></video>
					</div>

					
<!--					/ejercicio/EJ2/5/K/1

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item active"><a class="page-link" href="#">1</a></li>
							    <li class="page-item "><a class="page-link" href="4-1-2.html">2</a></li>
							    <li class="page-item"><a class="page-link" href="4-1-2.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					-->

					<div class="ejercicio-btn">
						<a href="/ejercicio/E3/1/V/1" class="btn btn-primary">Ejercicio</a>
					</div>
					
					<div class="siguiente-btn">
						<a href="/tema/3/2/1" class="btn btn-primary">Siguiente tema</a>
					</div>

				</section>
				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>