{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-tres ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j3">
			  <div class="container">
			    <h1 class="display-4">Tema 3. Control de flujo.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 3</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 3.2 Estructuras selectivas: simple, doble y múltple.</li>
						</ol>
					</nav>
					
					<article class="post clearfix">
						<p class="post-contenido text-justify">
							<h4 class="post-title">
								<a href="#">Alternativa múltiple (según_sea, caso de/case) </a>
							</h4>

							Como su nombre lo indica, permite seleccionar entre varios caminos para llegar al final. En este caso se pueden elegir un camino o acción a ejecutar de entre varios posibles que se debe de evaluar, llamada selector. <br>

							Sintaxis: <br>

							<ul>
								<li>switch(selector)</li>
								<li>{</li>
								<li>case Etiqueta A:</li>
								<li>Acción A;</li>
								<li>break;</li>
								<li>case Etiqueta B:</li>
								<li>Acción B;</li>
								<li>break;</li>
								<li>case Etiqueta n:</li>
								<li>Acción n;</li>
								<li>break;</li>
								<li>default:</li>
								<li>Excepción;</li>
								<li>break;</li>
								<li>}</li>
							</ul><br>
							En donde: Selector: Variables, expresiones simples de tipo ordinal, (enteros y caracteres –int y char-).
							<br><br>

				   <img src="{% static 'media/3.2-3.png' %}" align="justify-content-center" class="d-inline-block align-top" alt=""><br>

							La estructura de decisión múltiple evaluará una expresión que podrá tomar n valores distintos, 1, 2, 3, 4, ..., n. Según que elija uno de estos valores en la condición, se realizará una de las n acciones, o lo que es igual, el flujo del algoritmo seguirá un determinado camino entre los n posibles.<br><br>

							<b><i>Sentencia switch</i></b> (C, C++, Java, C#) <br><br>

							switch (expresión)<br>
							{<br>
							case valor1:<br>
							sentencia1;<br>
							sentencia2;<br>
							sentencia3;<br>
							}<br><br>

							Los diferentes modelos de pseudocódigo de la estructura de decisión múltiple se representan en las Figuras 4.6 y 4.7.

				   <img src="{% static 'media/3.2.2.png' %}" align="justify-content-center" class="d-inline-block align-top" alt=""><br>
				   <img src="{% static 'media/3.2.2.1.png' %}" align="justify-content-center" class="d-inline-block align-top" alt=""><br>

						</p>

					</article>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item"><a class="page-link" href="/tema/3/2/1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item"><a class="page-link" href="/tema/3/2/1">1</a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/3/2/2">2</a></li>
							    <li class="page-item disabled"><a class="page-link" href="/tema/3/2/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
			
					<div class="ejercicios-btn">
						<a href="/ejercicio/E3/2/V/1" class="btn btn-primary">Ejercicios</a>
					</div> 

					<div class="siguiente-btn">
						<a href="/tema/3/3/1" class="btn btn-primary">Siguiente tema</a>
					</div>
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>