{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-cuatro ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j4">
			  <div class="container">
			    <h1 class="display-4">Tema 4. Organización de datos. </h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 4</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 4.1: Arreglos. </li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						<h2 class="post-title">
							<a href="#">Arreglos </a>
						</h2>
						<p class="post-contenido text-justify">
							
						Definimos como array o arreglo a la estructura de datos formada por  una secuencia de elementos homogéneos (de igual tipo).  Cada elemento tiene una posición relativa (que puede ser  establecida  por uno o más índices) dentro de la secuencia.
						La propiedad “ordenado” significa que el elemento primero, segundo, tercero, ..., enésimo de un array puede ser identificado. Un array puede estar compuesto de todos sus elementos de tipo cadena, otro puede tener todos sus elementos de tipo entero, etc. <br><br>

						<b>Características de los arreglos estáticos en C++.</b>
						<ul>
							<li>Un arreglo es una colección de datos relacionados de igual tipo e identificados bajo un nombre genérico único. </li>
							<li>La estructura completa ocupa un segmento de memoria único y sus elementos se almacenan en forma contigua. </li>
							<li>Para procesar un elemento del arreglo, se debe especificar el nombre de la estructura y uno o más índices que determinan la posición del elemento. </li>
							<li>Se puede emplear como índice cualquier expresión que arroje un entero dentro del rango establecido (dimensión) para dicho índice. </li>
							<li>El índice que determina la posición de los elementos de un arreglo comienza siempre con cero. </li>
							<li>Se debe establecer en la declaración, la cantidad de elementos (dimensión) que puede tener como máximo el arreglo en el programa. </li>
							<li>C++ admite operar fuera del rango preestablecido por la dimensión, pero con resultados impredecibles. </li>
						</ul>

						Los arrays se conocen también como matrices —en matemáticas— y tablas —en cálculos financieros—. El tipo más simple de array es el array unidimensional o vector (matriz de una dimensión). Un vector de una dimensión denominado NOTAS que consta de n elementos se puede representar por la Imagen 1.<br>

						<img src="{% static 'media/4-1-1.png' %}" align="justify-content-center" class="d-inline-block align-top" alt=""><br>

						El número de elementos de un vector se denomina rango del vector. Los vectores, como ya se ha comentado, pueden contener datos no numéricos, es decir, tipo “carácter”. Por ejemplo, un vector que representa las frutas que se venden en un supermercado:

						<img src="{% static 'media/4-1-1.1.png' %}" align="justify-content-center" class="d-inline-block align-top" alt=""><br>


						</p>
					</article>
					<div class="video">
				<video src="{% static 'media/Tema 1.3 Diseño de algoritmos.mp4' %}" controls width="550" height="360"></video>
			</div>

					<nav aria-label="Page">
							<ul class="pagination justify-content-center">
							    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
							    <li class="page-item active"><a class="page-link" href="/tema/4/1/1">1</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/4/1/2">2</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/4/1/3">3</a></li>
							    <li class="page-item"><a class="page-link" href="/tema/4/1/2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
							</ul>
					</nav>
					
					<div class="siguiente-btn">
						<a href="/tema/3/3/1" class="btn btn-primary">Tema anterior</a>
					</div>

				</section>
				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>