{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-cuatro ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j4">
			  <div class="container">
			    <h1 class="display-4">Tema 5. Modularidad.</h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 5</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 5.1: Declaración y uso de módulos.</li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						<p class="post-contenido text-justify">

						<h4 class="post-title">
							<a>Llamadas a módulos.</a>
						</h4>

						Un programa modular contará con un programa principal y uno o varios módulos. El programa principal llama o invoca a los módulos, cediendo a éstos el control del flujo del programa. <br>

						Para nombrar a un módulo se seguirán las mismas pautas que con las variables. Se buscará que los nombres sean interpretables y claros. Se evitará que sean similares entre sí o con las variables que existan en el programa.<br>

						La numeración de las líneas del módulo es independiente de la del algoritmo principal, pudiendo repetirse si se quiere. Se entiende que el módulo se encuentra dentro del programa pero no se ejecuta hasta que es llamado desde el algoritmo principal de acuerdo con esta estructura.<br><br>

						<img src="{% static 'media/5-1-2.png' %}"> <br><br>

						Cuando se llama a un módulo la ejecución del algoritmo principal se detiene y el flujo se desvía al módulo. Una vez se llega al fin del módulo, la ejecución en el algoritmo principal continúa por la sentencia inmediatamente posterior a la instrucción Llamar. Un módulo puede ser llamado cuantas veces se quiera. Es posible llamar a un módulo desde otro módulo: el efecto es el mismo al comentado anteriormente.<br><br>

						<h4 class="post-title">
							<a>Características que deben tener los módulos.</a>
						</h4>

						<ul type="a">
							<li>Deben estar jerarquizados.</li>
							<li>Deben ser pequeños y sencillos.</li>
							<li>Deben ocultar los detalles poco importantes a módulos superiores en jerarquía.</li>
							<li>Debe usar tanto módulos de más baja jerarquía como sea necesario para cumplir con el modo <i>b)</i></li>
							<li>Deben usar estructuras de datos y control adecuados para cumplir con el punto <i>b) </i></li>
							<li>Deben ser legibles, es decir, que no solo el autor pueda entenderlos, sino cualquiera que tenga acceso a ellos con un conocimiento fundamental de programación.</li>
						</ul>

						La programación modular se representa por medio de bloques donde cada uno hace referencia a un módulo. <br><br>

						<img src="{% static 'media/prog_modular.png' %}"><br><br>

						La ordenación de módulos y algoritmo principal debe obedecer a la intención de facilitar la lectura y compresión del programa, al igual que los nombres que se usen. La representación gráfica de un módulo en el diagrama de flujo se muestra con el símbolo: <br><br>
						
						<img src="{% static 'media/5-1-1-modulo.png' %}"><br><br>

						Si existen llamadas a módulos en un diagrama de flujo, habrá de existir, a continuación del diagrama del algoritmo principal, otros diagramas explicativos de cada módulo (un diagrama por módulo). La representación será: <br><br>

						<img src="{% static 'media/5-1-1-diagmodul.png' %}"> <br>

						</p>

						<div class="ejercicios-btn">
							<a href="/ejercicio/EJ5/1/V/1" class="btn btn-primary">Ejemplo</a>
						</div>

					</article>
					
					<nav aria-label="Page">
						<ul class="pagination justify-content-center">
						    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/1">1</a></li>
						    <li class="page-item active"><a class="page-link" href="/tema/5/1/2">2</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/3">3</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/4">4</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
					
					<!--
					<div class="ejercicios-btn">
						<a href="C:\Users\lucila\Desktop\valortotal\templates\Unidades\Ejercicios\E1-3-V-1.html" class="btn btn-primary">Ejercicios</a>
					</div> -->

					<div class="siguiente-btn">
						<a href="/tema/5/2/1" class="btn btn-primary">Siguiente tema</a>
					</div>
				</section>

				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>