{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Tema</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
	<script src="{% static 'js/fecha.js' %}"></script>
</head>
<body>
	<br>
	<div class="container">
		<header>
			<nav class="navbar sticky-top navbar-expand-lg navbar-light tema-cuatro ">
  			<a class="navbar-brand" href="#">
  				<img src="{% static 'media/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">Sparkode
  			</a>
			  <button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Mi perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/temario/">Temario</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Progreso</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link disabled" href="#">Examen final</a>
			      </li>
			    </ul>
				
				<div class="ml-auto p-2 bd-highlight">
					<ul class="navbar-nav">
				    	<li class="nav-item dropdown">
				    		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    			Cerrar<i class="fas fa-door-open"></i>
				    		</a>
				    		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          					<a class="dropdown-item" href="#"><i class="fas fa-door-closed"></i>Cerrar sesión</a>
						    </div>	
				    	</li>
				    </ul>
				</div>
			    
			  </div>
			</nav>

			<div class="jumbotron jumbotron-fluid j4">
			  <div class="container">
			    <h1 class="display-4">Tema 5. Modularidad. </h1>
			    <p class="lead">--</p>
			  </div>
			</div>
		</header>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-10">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href='/../'>Inicio</a></li>
						<li class="breadcrumb-item"><a href="#">Tema 5</a></li>
						<li class="breadcrumb-item active" aria-current="page">Tema 5.1: Declaración y uso de módulos. </li>
						</ol>
					</nav>
					
					<article class="post clearfix article">
						
						
						<p class="post-contenido text-justify">
							
						La programación modular es uno de los métodos de diseño más flexible y potente para mejorar la productividad de un programa. En programación modular el programa se divide en módulos, cada uno de los cuales ejecuta una única actividad o tarea y se codifican independientemente de otros módulos. Cada uno de estos módulos se analiza, codifica y pone a punto por separado. <br><br>

						Si la tarea asignada a cada submódulo es demasiado compleja, éste deberá romperse en otros módulos más pequeños. El proceso sucesivo de subdivisión de módulos continúa hasta que cada módulo tenga solamente una tarea específica que ejecutar. Esta tarea puede ser entrada, salida, manipulación de datos, control de otros módulos o alguna combinación de éstos. <br> Los módulos son independientes en el sentido en que ningún módulo puede tener acceso directo a cualquier otro módulo excepto el módulo al que llama y sus propios submódulos. <br><br>

						Un módulo se puede modificar radicalmente sin afectar a otros módulos, incluso sin alterar su función principal. La descomposición de un programa en módulos independientes más simples se conoce también como el <i>método de divide y vencerás</i>. Cada módulo se diseña con independencia de los demás, y siguiendo un método ascendente o descendente se llegará hasta la descomposición final del problema en módulos en forma jerárquica.<br><br>

						<img src="{% static 'media/5-1-1.png' %}"><br><br>

						El enfoque de diseño y programación modular es útil en dos casos:

						<ol>
							<li>Cuando existe un grupo de instrucciones o una tarea especifíca que debe ejecutarse en más de una ocasión. </li>
							<li>Cuando un problema es complejo o extenso y la solución se divide o segmenta en módulos que ejecutan partes o tareas específicas. </li>
						</ol>

						<h4 class="post-title">
							<a>Declaración de un módulo.</a>
						</h4>
							Los módulos tienen un formato bien definido para su utilización: <br><br>
							
							<ul>
								<li>Tiene un tipo de retorno.</li>
								<li>Tiene un nombre o identificador. </li>
								<li>Puede tener o no lista de parámetros (elementos de comunicación con el módulo principal).</li>
								<li>Tiene un cuerpo o conjunto de instrucciones que resuelven una tarea en específica.</li>
								<li>Pueden o no devolver un valor de algún tipo de dato básico, estructurado o definido por el usuario.</li>
							</ul>
							
							Sintaxis para declarar un módulo. <br>

							<img src="{% static 'media/sintaxismodulo.png' %}"> <br><br>

							Donde
							<ul>
								<li><b>Tipo</b> es el tipo de dato de salida,</li>
								<li><b>Nombre</b> es un identificador que representa el nombre de la función,</li>
								<li><b>lista de parámetros</b> es una lista de parámetros separados por comas, donde cada parámetro se declara como en una declaración de variables normal, y</li>
								<li><b>valor</b> es aquel dato que regresa y debe coincidir con el tipo declarado al inicio.</li>
							</ul> 
							

						</p>
					</article>
					<div class="video">
				<video src="{% static 'media/Tema 1.3 Diseño de algoritmos.mp4' %}" controls width="550" height="360"></video>
			</div>

					<nav aria-label="Page">
						<ul class="pagination justify-content-center">
						    <li class="page-item disabled"><a class="page-link" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
						    <li class="page-item active"><a class="page-link" href="/tema/5/1/1">1</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/2">2</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/3">3</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/4">4</a></li>
						    <li class="page-item"><a class="page-link" href="/tema/5/1/4"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
						</ul>
					</nav>
					
					<div class="siguiente-btn">
						<a href="/tema/4/4/1" class="btn btn-primary">Tema anterior</a>
					</div>

				</section>
				<aside class="col-md-2 hidden-xs hidden-sm">
					<h4>Fuentes relacionadas</h4>
					<div class="list-group">
						<a href="#" class="list-group-item active">Fuente 1</a>
						<a href="#" class="list-group-item">Fuente 2</a>
						<a href="#" class="list-group-item">Fuente 3</a>
						<a href="#" class="list-group-item">Fuente 4</a>
					</div>

					<h4>Calendario</h4>
					<div class="list-group-item" id="calendar">
						<p id="calendar-day"></p>
						<p id="calendar-date"></p>
						<p id="calendar-month-year"></p>
					</div>
				</aside>
			</div>
		</section>
	</div>
</body>
</html>