{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
	<script src= "{% static 'js/jquery.js' %}" ></script>
	<title>Bienvenido a Software PNL</title>
</head>
<body>
	<div id="precarga"><!-- precarga de backgrounds --></div>
	<header>
	<h1>Log In</h1>
	</header>
	<div class="Login">

	<!-- <img src="{% static 'img/user.png' %}" alt=""> esta imagen no la encontré-->
         <br><br><br>
         {% if errores %}
         <ul>
            {% for error in errores %}
             <li >{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}

	<form method="post" action="/login/">{% csrf_token %}
			<div id="form-input" class="fas fa-user">
				<input  type="text" name="usuario">
			</div>
			<div id="form-input" class="fas fa-key">
				<input type="password" name="password">
			</div>
			<div>
				<input type="submit" name="entrar" value="Enviar" class="b_login">
			</div>
			<br>
			<a href="/registro/"> Crear cuenta </a>
			<br>
			<br>
			<!-- falta realizar esta operacion-->
			<a href="#"> ¿Olvidaste tu contraseña?</a>
	</form>
	</div>
	<footer>
		<a href="about.html">Acerca de <i class="fab fa-question-circle" aria-hidden="true"></i></a>
	</footer>
</body>
</html>
