{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/tema.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/estilosprincipal.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/Raleway.css' %}">
	<title>Sparkode</title>
</head>
<body>
	<header>
		<div class="contenido">
			<div class="logo">
				<img src="" alt="">
			</div>
			<nav class="menu">
				<ul>
					<li><a href="#" class="menu_btn"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
					<li class="tema">Bienvenido a Sparkode</li>					
				 	<li class="logout"><a href="/logOut/">Cerrar sesión</a></li>  
				</ul>
			</nav>
		</div>

		<nav class="menud">
			<ul>
				<li><a href=""><i class="fa fa-user" aria-hidden="true"></i>Mi perfil</a></li>
				<li><a href="/temario/"><i class="fa fa-book" aria-hidden="true"></i>Temario</a></li>
				<li><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i>Progreso</a></li>
				<li><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Examen final</a></li>
			</ul>
		</nav>
	</header>
		<div class="contenido1">
			<div class="descripcion">
				<h1>Sparkode</h1>
				<h3>Curso de Fundamentos de Programación</h3>
				<ul>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i>Aumentar el razonamiento lógico matemático de los alumnos.</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i>Medir el nivel de aprendizaje de los alumnos mediante los niveles contenidos en la aplicación.</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i>Metodos de aprendizaje intuitivos mediante el uso de tecnicas nuerolingüisticas.</li>
					<li><i class="fa fa-check-circle" aria-hidden="true"></i>Reducir el indice de alumnos reprobados en la materia.</li>
				</ul>
			</div>
			<div class="video">
				<!--<video src="{% static 'media/Introduccion.mp4' %}" controls width="550" height="360"></video> -->
				<iframe width="550" height="360" src="https://www.youtube.com/embed/TQcmhvJFRCA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
					
			<div class="botones">
			<!-- qué función tendrá contenido o sólo es el temario? -->
				<a href="#">Contenido</a>
			<!-- aquí mandará a traer la vista para comparar las fechas en las que se resolvió el ejercicio -->
				<a href="#">Ultima lección</a>
			</div>

		</div>
		<div class="contenido2">
			<h3>Unidades</h3>
			<div class="unidades">
				<a href="/tema/1/1/1">
					<h4>Tema I: Diseño Algorítmico</h4>
					<img src="{% static 'media/u1.jpg' %}" width="200" height="200" class="d-inline-block align-top" alt="">
				</a>
				<a href="/tema/2/1/1">
					<h4>Tema II: Introducción a la Programación</h4>
					<img src="{% static 'media/delfin.png' %}" width="200" height="200" class="d-inline-block align-top" alt="">
				</a>
				<a href="/tema/3/1/1">
					<h4>Tema III: Control de Flujo</h4>
					<img src="{% static 'media/delfin.png' %}" width="200" height="200" class="d-inline-block align-top" alt="">
				</a>
				<a href="/tema/4/1/1">
					<h4>Tema IV: Organización de datos</h4>
					<img src="{% static 'media/delfin.png' %}" width="200" height="200" class="d-inline-block align-top" alt="">
				</a>
				<a href="/tema/5/1/1">
					<h4>Tema V: Modularidad</h4>
					<img src="{% static 'media/delfin.png' %}" width="200" height="200" class="d-inline-block align-top" alt="">
				</a>
			</div>
		</div>

		<div class="pie">
			<footer>
				<a href="" class="facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
				<a href="" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
				<a href="" class="googleplus"><i class="fab fa-google-plus-official" aria-hidden="true"></i></a>

				<div class="logo">
					<img src="{% static 'media/logo.png' %}" alt="" width="30" height="30"><p>Sparkode</p>
				</div>
			</footer>
		</div>


</body>
</html>