{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" href="{% static 'css/Raleway.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title>• Crear nueva cuenta •</title>
</head>
<body style="background: url("{% static 'img/Fondo1.png' %}")> <!--el fondo no existe-->

        {% if errores %}
         <ul>
            {% for error in errores %}
             <li>{{ error }}</li>
            {% endfor %}
         </ul>
         {% endif %}
	
	<form class="user_form" action="/registro/"  method="post"> {% csrf_token %}
			<ul>
				<li class="info">
					<h3>Información General: </h3>
				</li>
				<li>
					<label for="nombre">Nombre: </label>
					<input type="text" required name="Nombre">
				</li>
				<li>
					<label for="AP">Apellido paterno: </label>
					<input type="text" required name="ApellidoP">
				</li>
				<li>
					<label for="AM">Apellido Materno: </label>
					<input type="text" required name="ApellidoM">
				</li>
				<!--aquí separo la fecha para que se registre de forma correcta y no andar poniendo todo enredoso-->
				<li>
					<label for="edad">Fecha de nacimiento: </label>
					<input type="number" required name="Year" placeholder="Año e.j. 1998">
				</li>
				<li>
					<label for="edad">                     </label>
					<input type="number" required name="Mes" placeholder="Mes e.j. 01">
				</li>		
				<li>
					<label for="edad">                     </label>
					<input type="number" required name="Dia" placeholder="Dia e.j. 01">
				</li>
				<li>
				<label for="CT"> Clave del Tecnológico: </label>
				<input type="text" required name="Clave">
				</li>
				<li class="info">
					<h3>Información de la cuenta</h3>
				</li>

				<li>
					<label for="user">Nombre de usuario: </label>
					<input type="text" required name="NUsuario">
				</li>
				<li>
					<label for="password">Contraseña: </label>
					<input type="password" required name="Password">
				</li>
				<li>
					<label for="password2">Confirmar contraseña: </label>
					<input type="password" required name="Password2">
				</li>
				<li>
					<label for="email">e-mail: </label>
					<input type="email" required autocomplete   name="Email">
				</li>
				<br><br>

				<input type="submit" name="crear" value="Crear cuenta" class="boton">
				<br>
				<!--
				<input type="button" name="cancelar" value="Cancelar" class="boton">
				-->
				<br>
				<br><br>
				<a href="about.html"> Acerca de <i class="fa fa-question-circle" aria-hidden="true"></i></a>
				<br>
				<br>
				<a href="/login/">¿Ya tienes una cuenta? Ingresar</a>
			</ul>
	</form>


</body>
</html>
