{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilostest.css' %}"> 
	<script src="{% static 'js/jquery.js' %}" --> type="text/javascript"> </script>
	<title>Test Diagnostico de aprendizaje</title>
</head>
<!-- HACE FALTA DISEÑO, PUES NO SE ENCUENTRA EL ARCHIVO TEST6.JS  -->
<body class="test">
	<div class="wrap">
		<form id="form1" name="form1" method="post" action="/TestAprendizaje/" class="formulario" onsubmit=" return validar()"> {% csrf_token %} <!-- action="{% static 'js/Test6.js' %}"   -->
           
            <h2>Test diagnostico para determinar el método de aprendizaje predominante</h2>
				<h4>Por favor, responda verdaderamente a cada pregunta. Responda según lo que hace actualmente, no según lo que piense que sea la respuesta correcta. Use la siguiente escala para responder a cada pregunta: Ponga un círculo sobre su respuesta.</h4>
				<p><strong>1 = Nunca <br>
				2 = Raramente <br>
				3 = Ocasionalmente <br>
				4 = Usualmente <br>
				5 = Siempre
				</strong></p> <br>
				
            {% if errores %}
         
            	{% for error in errores %}
             		<h4><strong>{{ error }}</strong></h4>
            	{% endfor %}
       
         	{% endif %}
				<div class="pregunta">	
				<p>1.- Me ayuda trazar o escribir a mano las palabras cuando tengo que aprenderlas de memoria</p>
				<input required type="radio" name="p1" value="1" id="1-1"> 
				<label for="1-1">1</label>
		
				<input type="radio" name="p1" value="2" id="1-2">
				<label for="1-2">2</label>
		
				<input type="radio" name="p1" value="3" id="1-3">
				<label for="1-3">3</label>
				
				<input type="radio" name="p1" value="4" id="1-4">
				<label for="1-4">4</label>

				<input type="radio" name="p1" value="5" id="1-5">
				<label for="1-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
				<div class="pregunta">
				<p>2.- Recuerdo mejor un tema al escuchar una conferencia en vez de leer un libro de texto</p>
				<input type="radio" name="p2" value="1" id="2-1">
				<label for="2-1">1</label>
		
				<input type="radio" name="p2" value="2" id="2-2">
				<label for="2-2">2</label>
		
				<input type="radio" name="p2" value="3" id="2-3">
				<label for="2-3">3</label>
				
				<input type="radio" name="p2" value="4" id="2-4">
				<label for="2-4">4</label>

				<input type="radio" name="p2" value="5" id="2-5">
				<label for="2-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
				<div class="pregunta">
				<p>3.- Prefiero las clases que requieren una prueba sobre lo que se lee en el libro de texto</p>
				<input type="radio" name="p3" value="1" id="3-1">
				<label for="3-1">1</label>
		
				<input type="radio" name="p3" value="2" id="3-2">
				<label for="3-2">2</label>
		
				<input type="radio" name="p3" value="3" id="3-3">
				<label for="3-3">3</label>
				
				<input type="radio" name="p3" value="4" id="3-4">
				<label for="3-4">4</label>

				<input type="radio" name="p3" value="5" id="3-5">
				<label for="3-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
				<div class="pregunta">
				<p>4.- Me gusta comer bocados y mascar chicle, cuando estudio</p>
				<input type="radio" name="p4" value="1" id="4-1">
				<label for="4-1">1</label>
		
				<input type="radio" name="p4" value="2" id="4-2">
				<label for="4-2">2</label>
		
				<input type="radio" name="p4" value="3" id="4-3">
				<label for="4-3">3</label>
				
				<input type="radio" name="p4" value="4" id="4-4">
				<label for="4-4">4</label>

				<input type="radio" name="p4" value="5" id="4-5">
				<label for="4-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
				<div class="pregunta">
				<p>5.- Al prestar atención a una conferencia, puedo recordar las ideas principales sin anotarlas</p>
				<input type="radio" name="p5" value="1" id="5-1">
				<label for="5-1">1</label>
		
				<input type="radio" name="p5" value="2" id="5-2">
				<label for="5-2">2</label>
		
				<input type="radio" name="p5" value="3" id="5-3">
				<label for="5-3">3</label>
				
				<input type="radio" name="p5" value="4" id="5-4">
				<label for="5-4">4</label>

				<input type="radio" name="p5" value="5" id="5-5">
				<label for="5-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->				
				<div class="pregunta">
				<p>6.- Prefiero las instrucciones escritas sobre las orales</p>
				<input type="radio" name="p6" value="1" id="6-1">
				<label for="6-1">1</label>
		
				<input type="radio" name="p6" value="2" id="6-2">
				<label for="6-2">2</label>
		
				<input type="radio" name="p6" value="3" id="6-3">
				<label for="6-3">3</label>
				
				<input type="radio" name="p6" value="4" id="6-4">
				<label for="6-4">4</label>

				<input type="radio" name="p6" value="5" id="6-5">
				<label for="6-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
            <div class="pregunta">
				<p>7.- Yo resuelvo bien los rompecabezas y los laberintos</p>
				<input type="radio" name="p7" value="1" id="7-1">
				<label for="7-1">1</label>
		
				<input type="radio" name="p7" value="2" id="7-2">
				<label for="7-2">2</label>
		
				<input type="radio" name="p7" value="3" id="7-3">
				<label for="7-3">3</label>
				
				<input type="radio" name="p7" value="4" id="7-4">
				<label for="7-4">4</label>

				<input type="radio" name="p7" value="5" id="7-5">
				<label for="7-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
            <div class="pregunta">
				<p>8.- Prefiero las clases que requieran una prueba sobre lo que se presenta durante una conferencia</p>
				<input type="radio" name="p8" value="1" id="8-1">
				<label for="8-1">1</label>
		
				<input type="radio" name="p8" value="2" id="8-2">
				<label for="8-2">2</label>
		
				<input type="radio" name="p8" value="3" id="8-3">
				<label for="8-3">3</label>
				
				<input type="radio" name="p8" value="4" id="8-4">
				<label for="8-4">4</label>

				<input type="radio" name="p8" value="5" id="8-5">
				<label for="8-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
           <div class="pregunta">
				<p>9.- Me ayuda ver diapositivas y videos para comprender un tema</p>
				<input type="radio" name="p9" value="1" id="9-1">
				<label for="9-1">1</label>
		
				<input type="radio" name="p9" value="2" id="9-2">
				<label for="9-2">2</label>
		
				<input type="radio" name="p9" value="3" id="9-3">
				<label for="9-3">3</label>
				
				<input type="radio" name="p9" value="4" id="9-4">
				<label for="9-4">4</label>

				<input type="radio" name="p9" value="5" id="9-5">
				<label for="9-5">5</label>
				</div>            
<!-- ----------------------------------------------------- -->
            <div class="pregunta">
				<p>10.- Recuerdo más cuando leo un libro que cuando escucho una conferencia</p>
				<input type="radio" name="p10" value="1" id="10-1">
				<label for="10-1">1</label>
		
				<input type="radio" name="p10" value="2" id="10-2">
				<label for="10-2">2</label>
		
				<input type="radio" name="p10" value="3" id="10-3">
				<label for="10-3">3</label>
				
				<input type="radio" name="p10" value="4" id="10-4">
				<label for="10-4">4</label>

				<input type="radio" name="p10" value="5" id="10-5">
				<label for="10-5">5</label>
				</div> 
<!-- ----------------------------------------------------- -->
                <div class="pregunta">
				<p>11.- Por lo general, tengo que escribir los números del teléfono para recordarlos bien</p>
				<input type="radio" name="p11" value="1" id="11-1">
				<label for="11-1">1</label>
		
				<input type="radio" name="p11" value="2" id="11-2">
				<label for="11-2">2</label>
		
				<input type="radio" name="p11" value="3" id="11-3">
				<label for="11-3">3</label>
				
				<input type="radio" name="p11" value="4" id="11-4">
				<label for="11-4">4</label>

				<input type="radio" name="p11" value="5" id="11-5">
				<label for="11-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->                 <div class="pregunta">
				<p>12.- Prefiero recibir las noticias escuchando la radio en vez de leerlas en un periódico</p>
				<input type="radio" name="p12" value="1" id="12-1">
				<label for="12-1">1</label>
		
				<input type="radio" name="p12" value="2" id="12-2">
				<label for="12-2">2</label>
		
				<input type="radio" name="p12" value="3" id="12-3">
				<label for="12-3">3</label>
				
				<input type="radio" name="p12" value="4" id="12-4">
				<label for="12-4">4</label>

				<input type="radio" name="p12" value="5" id="12-5">
				<label for="12-5">5</label>
				</div>
<!-- ----------------------------------------------------- --> 
				<div class="pregunta">
				<p>13.- Me gusta tener algo como un bolígrafo o un lápiz en la mano cuando estudio</p>
				<input type="radio" name="p13" value="1" id="13-1">
				<label for="13-1">1</label>
		
				<input type="radio" name="p13" value="2" id="13-2">
				<label for="13-2">2</label>
		
				<input type="radio" name="p13" value="3" id="13-3">
				<label for="13-3">3</label>
				
				<input type="radio" name="p13" value="4" id="13-4">
				<label for="13-4">4</label>

				<input type="radio" name="p13" value="5" id="13-5">
				<label for="13-5">5</label>
				</div>
<!-- ----------------------------------------------------- --> 
                <div class="pregunta">
				<p>14.- Prefiero las instrucciones orales del maestro a aquellas escritas en un examen o en la pizarra</p>
				<input type="radio" name="p14" value="1" id="14-1">
				<label for="14-1">1</label>
		
				<input type="radio" name="p14" value="2" id="14-2">
				<label for="14-2">2</label>
		
				<input type="radio" name="p14" value="3" id="14-3">
				<label for="14-3">3</label>
				
				<input type="radio" name="p14" value="4" id="14-4">
				<label for="14-4">4</label>

				<input type="radio" name="p14" value="5" id="14-5">
				<label for="14-5">5</label>
				</div>
<!-- ----------------------------------------------------- --> 
                <div class="pregunta">
				<p>15.- Me gusta escuchar música al estudiar una obra, novela, etc.</p>
				<input type="radio" name="p15" value="1" id="15-1">
				<label for="15-1">1</label>
		
				<input type="radio" name="p15" value="2" id="15-2">
				<label for="15-2">2</label>
		
				<input type="radio" name="p15" value="3" id="15-3">
				<label for="15-3">3</label>
				
				<input type="radio" name="p15" value="4" id="15-4">
				<label for="15-4">4</label>

				<input type="radio" name="p15" value="5" id="15-5">
				<label for="15-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
                <div class="pregunta">
				<p>16.- Puedo corregir mi tarea examinándola y encontrando la mayoría de los errores</p>
				<input type="radio" name="p16" value="1" id="16-1">
				<label for="16-1">1</label>
		
				<input type="radio" name="p16" value="2" id="16-2">
				<label for="16-2">2</label>
		
				<input type="radio" name="p16" value="3" id="16-3">
				<label for="16-3">3</label>
				
				<input type="radio" name="p16" value="4" id="16-4">
				<label for="16-4">4</label>

				<input type="radio" name="p16" value="5" id="16-5">
				<label for="16-5">5</label>
				</div>
           
<!-- ----------------------------------------------------- -->
                <div class="pregunta">
				<p>17.- Puedo recordar los números de teléfono cuando los oigo</p>
				<input type="radio" name="p17" value="1" id="17-1">
				<label for="17-1">1</label>
		
				<input type="radio" name="p17" value="2" id="17-2">
				<label for="17-2">2</label>
		
				<input type="radio" name="p17" value="3" id="17-3">
				<label for="17-3">3</label>
				
				<input type="radio" name="p17" value="4" id="17-4">
				<label for="17-4">4</label>

				<input type="radio" name="p17" value="5" id="17-5">
				<label for="17-5">5</label>
				</div>
<!-- ----------------------------------------------------- -->
               <div class="pregunta">
				<p>18.- Disfruto el trabajo que me exige usar la mano o herramientas</p>
				<input type="radio" name="p18" value="1" id="18-1">
				<label for="18-1">1</label>
		
				<input type="radio" name="p18" value="2" id="18-2">
				<label for="18-2">2</label>
		
				<input type="radio" name="p18" value="3" id="18-3">
				<label for="18-3">3</label>
				
				<input type="radio" name="p18" value="4" id="18-4">
				<label for="18-4">4</label>

				<input type="radio" name="p18" value="5" id="18-5">
				<label for="18-5">5</label>
				</div>
            
				<input type="submit" value="Evaluar">
		</form>
		<!-- ESTE SCRIPT NO SE ENCUENTRA, SE EVALUA CON DJANGO   
		<script src="{% static 'js/Test6.js' %}" '--FLECHA' type="text/javascript"></script>-->
	</div>
</body>
</html>
